#header {
	position: relative;
	background-color:  #364050;
	margin-top:-20px;
}

a {
	text-decoration: none;
	font-family: Verdana;
}

body {
	background-color:  #fff;
}

h1 {
	font-family: 'Poppins', sans-serif;	
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color:  #acd1b2;
}

h2 {
	
	font-family: Verdana;
	font-weight: bold;
	color: #34495E;
}

i {
	vertical-align:middle;
	
}

#sensei {
	height: 80px;
	width: 80px;
	vertical-align:bottom;
}

div {
	font-family: sans-serif;
	text-align: left;
		
}

.left {
	position: fixed;
	float: left;	
	width: 75px;
	height: 100%;
	background-color: #e8e8e8;
	margin-bottom: 100px;
}

#right {
	position: right;
	float: right;
	text-align: right;
}

ul {
	list-style-type:circle;
}

a {
	color:white;
	font-size:12px;
}

a:hover { 
    color: #acd1b2;
	
}

#para {
		position: relative;
    	margin-left: 75px;
}

#list {
		font-family: 'Open Sans', sans-serif;
		position: relative;
    	margin-left: 100px;
		font-size:16px;
		line-height: 170%;;	
}

p {
		font-family: 'Open Sans', sans-serif;
		position: relative;
    	left: 25px;
}
